ChangeCommline/ChangeCommline/Debug/
ChangeCommline/Debug/
hook/KeyBoardHook/Debug/
hook/KeyBoardHook/.vs/
hook/KeyBoardHook/KeyBoardHook/Debug/
hook/PBCIrpHook/debug/
hook/PBCSpy/.vs/
hook/PBCSpy/Debug/
hook/PBCSpy/ipch/
*.opendb
*.db
hook/PBCSpy/PBCDLLInject/.vs/
hook/PBCSpy/PBCDLLInject/PBCDLLInject/Debug/
hook/PBCSpy/PBCSpy/Debug/
hook/R3Hook/PBCDLLInject/.vs/
hook/R3Hook/PBCDLLInject/Debug/
hook/R3Hook/PBCDLLInject/PBCDLLInject/Debug/
hook/R3Hook/PBCDLLInject/PBCDLLInject/x64/Debug/PBCDLLInject.Build.CppClean.log
hook/R3Hook/PBCDLLInject/PBCDLLInject/x64/
hook/R3Hook/PBCDLLInject/PBCR3HookDll/Debug/
hook/R3Hook/PBCDLLInject/PBCR3HookDll/x64/
hook/R3Hook/PBCDLLInject/Target/Debug/
hook/R3Hook/PBCDLLInject/Target/x64/
hook/R3Hook/PBCDLLInject/x64/
hook/shadowssdt/debug/
hook/ssdt/debug/
hook/SsdtHook_VS2015/.vs/
hook/SsdtHook_VS2015/Debug/
hook/SsdtHook_VS2015/SsdtHook_VS2015/Debug/
LoadRootKit/LoadRootKit/Debug/
MFCDemo/mfc1/Debug/
PBCInlineHook_test/.vs/
PBCInlineHook_test/r3/.vs/
PBCInlineHook_test/r3/Debug/
PBCInlineHook_test/r3/PBCInlineHook_test/Debug/
PBCInlineHook_test/r3/PBCInlineHook_test/x64/
PBCInlineHook_test/r3/x64/
PBCListProc/debug/
PBCListProc/R3Install/Debug/
PBCLockHomePage/.vs/
PBCLockHomePage/Debug/
PBCLockHomePage/PBCLockHomePage/Debug/
PBCLockHomePage/PBCLockHomePage/objchk_wxp_x86/
*.pdb
PBCMiniFilter/R0/PBCMiniFilter/ARM/
PBCMiniFilter/R0/PBCMiniFilter/Debug/
PBCMiniFilter/R0/PBCMiniFilter/objchk_win7_x86/
PBCMiniFilter/R0/PBCMiniFilter/objchk_wxp_x86/
PBCMiniFilter/R3/PBCScanUser/.vs/
PBCMiniFilter/R3/PBCScanUser/Debug/
PBCMiniFilter/R3/PBCScanUser/PBCScanUser/Debug/
PBCMiniFilter/R3/PBCScanUserMFC/Debug/
PBCMiniFilter/R3/PBCScanUserMFC/ipch/
PBCMiniFilter/R3/PBCScanUserMFC/PBCScanUserMFC/Debug/
PBCPopWindow/debug/
PBCPopWindow/objchk_win7_x86/
PBCPopWindow/objchk_wxp_x86/
PBCProWatch/debug/
PBCProWatch/objchk_win7_x86/
PBCProWatch/ProcWatchClientConsole/Debug/
PopupClient/Debug/
processhacker-master/phlib/obj/Debug32/
processhacker-master/ProcessHacker/obj/Debug32/
ProcwatchDrv/debug/
ProcwatchDrv/objchk_win7_x86/
RegOperDrv/debug/
RegOperDrv/objchk_win7_x86/
SafeThreadSingle-Cpp/Debug/
SafeThreadSingle-Cpp/SafeThreadSingle-Cpp/Debug/
Sfilter-Hips/Driver/debug/
Sfilter-Hips/Driver/objchk_wxp_x86/
Sfilter-Hips/PopupClient/Debug/
UNCFilePath/objchk_win7_x86/
virtualcheck/virtualcheck/Debug/
*.sdf
LoadRootKit/ipch/
*.ipch
MFCDemo/Debug/
MFCDemo/.vs/
*.ncb
firstmfc/Debug/
